
<style>

.bought {
  opacity: .93 !important;
}

.over {
  border: 0.5vw solid yellow !important;
}
body {
 background-image: url('assets/lab.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
button {
	color: white;
	vertical-align: middle;
	font-family: 'Rubik One', sans-serif;
	text-decoration: none;
	font-size: 2vw;
	background-color: #3498db;

}
.title {
    margin-top: 2%;
    margin-bottom: 3%;
    position:relative;
    color: blue;
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 0 rgb(-12,184,243),
                 -1px -1px 0 rgb(-24,172,231),
                 -2px -2px 0 rgb(-36,160,219),
                 -3px -3px 0 rgb(-48,148,207),
                 -4px -4px 0 rgb(-59,137,196),
                 -5px -5px 0 rgb(-71,125,184),
                 -6px -6px 0 rgb(-83,113,172),
                 -7px -7px 0 rgb(-95,101,160),
                 -8px -8px 0 rgb(-107,89,148),
                 -9px -9px  0 rgb(-119,77,136),
                 -10px -10px 9px rgba(0,0,0,0.77),
                 -10px -10px 1px rgba(0,0,0,0.5),
                 0px 0px 9px rgba(0,0,0,.2);

}
.points {
  background: white;
  width: 22vw;
  height: 10vw;
  font-size: 3.5vw;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 6%;
  right:3%;

}
</style>

<p class="title" style="padding-left:3%">Shop</p>
<p id="extraPoints" class="points"><%=@extra_points.floor%> points Price: 10p</p>


<%
colors = ['red', 'yellow', 'green']
z = 0
for i in @items%>

  <p style="font-size:3vw; background:white; opacity:.75; width: 22vw; height: 3vw; padding:3%; margin-bottom:.4vw"><%=i[0]%></p>
  <div style="height: 6.5vw; width: 80%; background: rgba(255,255,255,.6); text-align:center; align-items:center; padding:3%">
    <div id=<%= z%> style="height:5vw; width: 80%; top:16%; position:relative">
      <%for j in 0..8%>
        <div id= "<%= z %>,<%=j%>" class = "l<%= j/3 %>" onmouseover="select(this)" onmouseout="unselect(this)" onclick="buy_select(<%=z%>, <%=j%>)" style= "sizing: border-box;width:8%; height:100%;border: 0.5vw solid; float:left; background: <%=colors[j/3]%>; opacity: .3; " >  </div>

      <%end%>

    </div>
    <button type="button" onclick="subs(this,<%=z%>)" style="width:4vw; height: 4vw; top:-40%; position:relative; font-size:3vw;">-</button>
    <button type="button" onclick="plus(this,<%=z%>)" style="width:4vw; height: 4vw;top:-40%; position:relative; font-size:3vw;">+</button>
  </div>
  <br>
  <br>
<% z+=1%>
<%end%>
<button type="button" onclick="buy()" style="position: fixed; bottom: 10%;right:5%; font-size:3vw">Finish</button>

<script>
var skills = <%=raw @items.to_json%>
var extraPoints = <%= @extra_points %>
//skills[this.parentElement.id][1] 0 name 1 original 2 new
function buyTill(attr, amount){
  var j
  for (j = 0; j < amount; j++){
    pill = document.getElementById(String(attr)+","+String(j))
    pill.classList.add("bought")
  }
}
function removeFrom(attr, amount){
  var j
  for (j = amount; j < 9; j++){
    pill = document.getElementById(String(attr)+","+String(j))
    pill.classList.remove("bought")
  }
}
var i
for (i=0; i<skills.length; i++){
  var div = document.getElementById(String(i))
  var bought = skills[i][2]/10
  buyTill(i,bought)
}

function buy_select(attr, level){
  var points = level*10+10
  var buying = points-skills[attr][2]
  var bought
  if (buying<0){
    if(points < skills[attr][1]){
      points = skills[attr][1]
    }
    extraPoints += skills[attr][2]-points
    $('#extraPoints').html(String(Math.floor(extraPoints))+  " points Price: 10p")

    skills[attr][2]= points
    bought = points/10
    console.log(bought);
    removeFrom(attr,bought)
  } else {
    if(buying>extraPoints){
      buying = Math.floor(extraPoints/10)*10

    }
    extraPoints-=buying
    $('#extraPoints').html(String(Math.floor(extraPoints))+ " points Price: 10p")
    skills[attr][2]+= buying
    var bought = skills[attr][2]/10
    console.log(bought);
    buyTill(attr,bought)
  }

}


function subs(e,id){

  if (skills[id][2]-10 >= skills[id][1]){
    skills[id][2]-=10
    extraPoints += 10
  }

  $('#extraPoints').html(String(Math.floor(extraPoints))+" points Price: 10p")
  var bought = skills[id][2]/10
  console.log(bought);
  removeFrom(id,bought)
}

function plus(e,id){

  if (10<=extraPoints){
    skills[id][2]+=10
    extraPoints -= 10
  }

  $('#extraPoints').html(String(Math.floor(extraPoints))+" points Price: 10p")
  var bought = skills[parseInt(id)][2]/10
  console.log(bought);
  buyTill(id,bought)
}

function buy(){

  var data = {
    <%
    z = 0
    for i in @items%>
      "<%= raw i[0]%>Points": skills[<%=z%>][2]- skills[<%=z%>][1],
      <%z+=1%>
    <%end%>
  }
  //console.log(data)
  create_post(data,"/add_points")
}

function create_post(data, path){
  data.authenticity_token= window._token
  console.log("creating form")
  form = document.createElement("form")
  form.method = 'post'
  form.action = path
  for (key in data){
    element = document.createElement("input")
    element.type = 'hidden'
    element.name = key
    element.value = data[key]
    form.appendChild(element)
  }
  document.body.appendChild(form)
  form.submit()
  //console.log("khj")
}

function unselect(target){
  target.classList.remove("over")
}
function select(target){
  target.classList.add("over")
}
</script>
